<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Terminal Trader</string>
    <key>CFBundleDisplayName</key>
    <string>Terminal Trader</string>
    <key>CFBundleIdentifier</key>
    <string>tetrad</string>
    <key>CFBundleVersion</key>
    <string>1.0.4</string>
    <key>CFBundleExecutable</key>
    <string>start.command</string>
    <key>CFBundleIconFile</key>
    <string>tetradicon.icns</string>
    <key>LSRequiresICloudContainer</key>
    <false/>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
